[Unit]
Description=DOrch HTTP TLS
BindsTo=network-online.target
After=network-online.target
StartLimitBurst=4
StartLimitIntervalSec=60

[Service]
ExecStart=/sbin/DOrch-HTTP-TLS
TimeoutStopSec=10
Restart=always
RestartSec=1
StandardOutput=append:/var/log/DOrch-HTTP-TLS
StandardError=append:/var/log/DOrch-HTTP-TLS

[Install]
WantedBy=default.target
