[Unit]
Description=DOrch Daemon
BindsTo=network-online.target
After=network-online.target
StartLimitBurst=4
StartLimitIntervalSec=60

[Service]
ExecStart=/sbin/DOrch-Daemon
TimeoutStopSec=10
Restart=always
RestartSec=1
StandardOutput=append:/var/log/DOrch-Daemon
StandardError=append:/var/log/DOrch-Daemon
User=root
Group=root

[Install]
WantedBy=default.target
